@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

html, body * { box-sizing: border-box; font-family: 'Roboto Condensed', 'Noto Sans KR', sans-serif, 'Open Sans', sans-serif; }

body, html {
	cursor: url(../images/normalselect.cur), default;
	}
/* background */
body{
  background:linear-gradient(
    rgba(255,43,85,0.5),
    rgba(255, 253, 246,1)),
  url("../images/logo/login-page.png") no-repeat top center;
  background-size: cover;
}
.logo{
  height: 65px;
  width: 236.77px;
  background: url("../images/logo/logo-horizontal.png") no-repeat;
  background-size: contain;
  margin:0px;
  float: left;
  z-index:99999;
}

/* main */
.container {
  width: 100%;
  height: 100%;
  padding-top: 170px;
  padding-bottom: 220px;
}

.frame {
  width: 450px;
  height: 500px;
  background:
    -webkit-gradient(
    linear,
    left top, left bottom,
    from(rgba(255,43,85,1)),
    to(rgba(255, 253, 246,1))) no-repeat center center;
  background:
    linear-gradient(
    rgba(255,43,85,1),rgba(255, 141, 160,1),
    rgba(255, 253, 246,1)) no-repeat center center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  border-top: solid 1px rgba(122, 68, 68, 0.5);
  border-radius: 5px;
  box-shadow: 0px 2px 7px rgba(0,0,0,0.3);
  overflow: hidden;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 1;
}

.nav {
  width: 100%;
  height: 100px;
  padding-top: 40px;
  opacity: 1;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.nav-up {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  opacity: 0;
}

li {
  padding-left: 10px;
  font-size: 18px;
  display: inline;
  text-align: left;
  text-transform: uppercase;
  padding-right: 10px;
  color: #ffffff;
}

.signin-active a {
  padding-bottom: 10px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: solid 2px #ffffff;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  cursor: pointer;
}

.signin-inactive a {
  padding-bottom: 0;
  color: rgba(255, 141, 160,.3);
  text-decoration: none;
  border-bottom: none;
  cursor: pointer;
}


.form-signin {
  width: 430px;
  height: 400px;
	font-size: 16px;
	font-weight: 300;
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 55px;
  -webkit-transition: opacity .5s ease, -webkit-transform .5s ease;
  transition: opacity .5s ease, -webkit-transform .5s ease;
  transition: opacity .5s ease, transform .5s ease;
  transition: opacity .5s ease, transform .5s ease, -webkit-transform .5s ease;
}

.form-signin-left {
  -webkit-transform: translateX(-400px);
          transform: translateX(-400px);
  opacity: .0;
}

.form-signup {
  width: 430px;
  height: 375px;
	font-size: 16px;
	font-weight: 300;
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 55px;
  position: relative;
  top: -375px;
  left: 400px;
  opacity: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}


.form-signin input, .form-signup input {
  color: black;
  font-size: 12px;
  font-weight:300;
}

.form-styling {
  width: 100%;
  height: 35px;
	padding-left: 15px;
	border: none;
	border-radius: 20px;
  margin-bottom: 20px;
  background: rgba(255,255,255,.2);
}

label {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  padding-left: 15px;
  padding-bottom: 10px;
  color: rgba(255, 253, 246,1);
  display: block;
}

:focus {outline: none;
}

.form-signin input:focus, textarea:focus, .form-signup input:focus, textarea:focus {
    background: rgba(255,255,255,.3);
    border: none; 
    padding-right: 40px;
    -webkit-transition: background .5s ease;
    transition: background .5s ease;
 }

.btn-signin {
  float: left;
  width: 100%;
  height: 35px;
	border: none;
	border-radius: 20px;
  margin-top: 0px;
  background-color: rgba(255, 253, 246,0.5);
}

.btn-signin:hover {
  background-color: rgba(255, 253, 246,1);
  transition: ease-in;
}

.welcome {
  width: 100%;
  height: 50px;
  position: relative;
  color: rgba(35,43,85,0.75);
  opacity: 0;
  -webkit-transition: opacity .1s ease 1s, -webkit-transform 1.5s ease .25s;
  transition: opacity .1s ease 1s, -webkit-transform 1.5s ease .25s;
  transition: transform 1.5s ease .25s, opacity .1s ease 1s;
  transition: transform 1.5s ease .25s, opacity .1s ease 1s, -webkit-transform 1.5s ease .25s;
}

.welcome-left {
  -webkit-transform: translateY(-780px);
          transform: translateY(-780px);
  opacity: 1; 
}


/* 페이드인 효과 */
.fadein {
    animation: fadein 2.5s ease-out forwards;
}

@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}

.fadeout {
    animation: fadeout 2.5s ease-out forwards;
}
@keyframes fadeout {
	from {
		opacity:1;
	}
	to {
		opacity:0;
	}
}